<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SD4Version</key>
	<string>7.0.10</string>
	<key>SD5ConversionOffered</key>
	<false/>
	<key>SDAddUsedLibrariesOnExport</key>
	<integer>0</integer>
	<key>SDAutoIncBuildNumber</key>
	<false/>
	<key>SDBreakOnExceptions</key>
	<false/>
	<key>SDBreakpointsEnabled</key>
	<false/>
	<key>SDBundleVersion</key>
	<string>2.0</string>
	<key>SDCocoaTermsInProperties</key>
	<true/>
	<key>SDCodesignOnlyOnExport</key>
	<false/>
	<key>SDFolds</key>
	<string>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVj
dHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0O
DxBaTlMub2JqZWN0c1YkY2xhc3OggALSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2Vz
Xk5TTXV0YWJsZUFycmF5oxQWF1dOU0FycmF5WE5TT2JqZWN0CBEaJCkyN0lMUVNX
XWJtdHV3fIeQn6OrAAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=</string>
	<key>SDHideCodeFolding</key>
	<false/>
	<key>SDPersistentGlobals</key>
	<true/>
	<key>SDWindowState</key>
	<dict>
		<key>eventLogWindow</key>
		<dict/>
		<key>resultWindow</key>
		<dict/>
		<key>traceDelay</key>
		<real>0.80000001192092896</real>
		<key>viewControllers</key>
		<dict>
			<key>99DF9A37-8A48-4D3D-8DB4-017DFC20105A-15429-000022F9234E6C3E</key>
			<dict>
				<key>debuggerViewState</key>
				<dict>
					<key>expressionsState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
					<key>heights4</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>386</integer>
								<integer>489</integer>
								<integer>194</integer>
							</array>
							<key>5</key>
							<array>
								<integer>298</integer>
								<integer>120</integer>
								<integer>378</integer>
								<integer>97</integer>
								<integer>149</integer>
							</array>
						</dict>
					</dict>
					<key>resultState</key>
					<dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
						<key>textState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>150</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<false/>
								<key>LNSTextViewShowSpaces</key>
								<false/>
								<key>LNSTextViewShowTabStops</key>
								<false/>
								<key>LNSTextViewWrapLines</key>
								<true/>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {441.5, 356.5}}</string>
							</dict>
						</dict>
					</dict>
					<key>stackVisible</key>
					<false/>
					<key>variablesState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
				</dict>
				<key>eventLogHeight</key>
				<real>174.5</real>
				<key>inspectorsViewState</key>
				<dict>
					<key>applications</key>
					<dict>
						<key>dividerPos2</key>
						<real>144</real>
						<key>searchFlags</key>
						<integer>167784446</integer>
					</dict>
					<key>clippings</key>
					<dict/>
					<key>heights3</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>388</integer>
								<integer>353</integer>
								<integer>351</integer>
							</array>
						</dict>
					</dict>
					<key>tellContext</key>
					<dict>
						<key>explorer</key>
						<dict>
							<key>dividerPos</key>
							<real>291</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>mainSplitPosition</key>
				<real>457.5</real>
				<key>modeIdentifier</key>
				<string>tab.debug</string>
				<key>resourcesViewState</key>
				<dict>
					<key>heights2</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>2</key>
							<array>
								<integer>252</integer>
								<integer>613</integer>
							</array>
						</dict>
					</dict>
					<key>resources</key>
					<dict>
						<key>expanded</key>
						<array/>
						<key>selection</key>
						<array/>
					</dict>
				</dict>
				<key>scriptViewState</key>
				<dict>
					<key>editorState</key>
					<dict>
						<key>LNSSelection</key>
						<array>
							<dict>
								<key>length</key>
								<integer>0</integer>
								<key>location</key>
								<integer>351</integer>
							</dict>
						</array>
						<key>LNSTextViewShowInvisibles</key>
						<false/>
						<key>LNSTextViewShowSpaces</key>
						<false/>
						<key>LNSTextViewShowTabStops</key>
						<false/>
						<key>LNSTextViewWrapLines</key>
						<false/>
						<key>LNSVisibleRect</key>
						<string>{{0, 0}, {1522.5, 1068}}</string>
						<key>ShowLineNumbers</key>
						<false/>
						<key>showCodeCoverage</key>
						<false/>
					</dict>
					<key>instanceID</key>
					<string>CC31F497-9002-43EE-B3B9-56EB35C558F0-15429-000022FDCB938060</string>
					<key>resultBarVisible</key>
					<false/>
					<key>showProgressBar</key>
					<true/>
				</dict>
				<key>showEventLog</key>
				<false/>
				<key>tabHeights</key>
				<dict>
					<key>tab.bps</key>
					<real>732.5</real>
					<key>tab.debug</key>
					<real>456.5</real>
					<key>tab.rsrcs</key>
					<real>433</real>
				</dict>
				<key>tabsHidden</key>
				<false/>
				<key>windowControllerID</key>
				<string>99DF9A37-8A48-4D3D-8DB4-017DFC20105A-15429-000022F9234E6C3E</string>
				<key>windowFrame</key>
				<string>121 180 2026 1156 0 0 2560 1415 </string>
			</dict>
		</dict>
		<key>windowControllers</key>
		<array>
			<dict>
				<key>controllerClass</key>
				<string>ScriptWindowController</string>
				<key>controllerID</key>
				<string>99DF9A37-8A48-4D3D-8DB4-017DFC20105A-15429-000022F9234E6C3E</string>
				<key>controllerState</key>
				<dict>
					<key>miniaturized</key>
					<false/>
					<key>windowFrame</key>
					<string>121 180 2026 1156 0 0 2560 1415 </string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
